@model IEnumerable<MyOrgs.Models.Organization>

@{
    ViewData["Title"] = "Manage Organizations";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orgDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orgDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrgID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrgID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrgID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
